@model IEnumerable<Week7_Lab.Models.Pin>

@{
    ViewBag.Title = "Index";
}

<h2>Movie Plots by Aaron</h2>


<div id="wrapper">
    <div id="columns">
        @foreach (var item in Model)
        {
            <div class="pin">
                <a href="@Html.DisplayFor(modelItem => item.ImageLink)"><img src="@Url.Action("GetImage", new { PinId = item.PinId })" /></a>
                <p>
                    @Html.DisplayFor(modelItem => item.Note)
                </p>
                <h5>@Html.DisplayFor(modelItem => item.WhoPinned.Email)</h5>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
